<html>
<!--
	1、v-for指令可以绑定数组的数据来渲染一个项目列表
	2、v-for="todo in todos"，这种写法无法获取数组下标
	3、在 v-for 块中，我们拥有对父作用域属性的完全访问权限。v-for 还支持一个可选的第二个参数为当前项的索引，如：v-for="(param,index) in todos"，这种写法中的index就是数组下标，也可以不叫index叫别的名字也可以
	4、v-for也可以用 of 替代 in 作为分隔符，因为它是最接近 JavaScript 迭代器的语法
	5、v-for可以遍历对象，遍历对象时第一个参数是值，第二个参数是属性名，第三个参数是索引
	6、push、splice分别是js对数组的操作
	7、v-for和v-if优先级：
		a、它们处于同一节点，v-for 的优先级比 v-if 更高，这意味着 v-if 将分别重复运行于每个 v-for 循环中，如；
		<li v-for="todo in todos" v-if="!todo.isComplete">
		  {{ todo }}
		</li>
		b、如果目的是有条件地跳过循环的执行，那么可以将 v-if 置于外层元素 (或 <template>)上，如：
			<ul v-if="todos.length">
			  <li v-for="todo in todos">
			    {{ todo }}
			  </li>
			</ul>
			<p v-else>No todos left!</p>
 -->
<head>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<!-- 1、带索引，通过文本输入，增加选项，也可以支持删除选项 -->
	<div id="app">
		<span>1、带索引，通过文本输入，增加选项，也可以支持删除选项</span>
		<input type="text" v-model="newText" v-on:keyup.enter="addTodo" />
		<!--这里的index是数组的下标，对于vue2.x来说，没有$index -->
		<ul v-for="(param,index) in todos">
			<li>
				{{param.text}} => {{index}}
				<button v-on:click="removeTodo(index)">删除</button>
			</li>
			
		</ul>
	</div>
	<br>
	<!-- 2、遍历对象数组 -->
	<div id="app2">
		<span>2、遍历对象数组</span>
		<ul v-for="todo in todos">
			<li>
					书名：{{todo.text}}，编号：{{todo.value}}
			</li>
		</ul>
	</div>
	<br>
	<!-- 3、遍历对象 -->
	<div id="app3">
		<span>3.1、遍历对象值</span>
		<ul id="v-for-object-value">
			<li v-for="value in object">
				{{value}}
			</li>
		</ul>
		<br>
		<span>3.2、遍历对象属性和值，第二个参数是属性值</span>
		<ul id="v-for-object-key">
			<li v-for="(value,key) in object">
				{{key}}  =>  {{value}}
			</li>
		</ul>
		<span>3.2、遍历对象属性和值，第三个参数是索引</span>
		<ul id="v-for-object-index">
			<li v-for="(value,key,index) in object">
				{{key}}  =>  {{value}}  => {{index}}
			</li>
		</ul>
	</div>
</body>
<script>
	//1、带索引，通过文本输入，增加选项，也可以支持删除选项
	var app = new Vue({
			el:"#app",
			data:{
					newText:'',
					todos:[
						{text:"第1行"}
					]
			
			},
			methods:{
				addTodo:function(){
					var newTodo = this.newText;//获取文本框绑定变量的值
					this.todos.push({text:newTodo});//将文本框输入的内容压到todos数组中
					this.newText = '';//清空文本框内容
				},
				removeTodo:function(index){
					//console.log(index);
					this.todos.splice(index,1);//删除，指定2个参数：要删除的第一项的位置和要删除项的项数
				}
			}
	});
	//2、遍历对象数组
	var app2 = new Vue({
			el:"#app2",
			data:{
				todos:[
					{text:"Spring boot",value:1},
					{text:"Spring cloud",value:2},
					{text:"Vue2.x",value:3}
				]
			}
	});

	//3、遍历对象
	var app3 = new Vue({
		el:'#app3',
		data:{
			object:{
				name:'tom',
				sex:'man',
				age:'13',
				work:'catch'
			}
		}
	});
</script>
</html>